<!DOCTYPE html>
<html>
<head>
	<title>Job App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui menu">
		<div class = "ui container">
			<div class = "header item"><i class="code icon"></i>Job Organizer</div>	
			<div class="right menu">		
				<a href="/" class="item">Home</a>
				<a href="/jobs/new" class="item">New Post</a>
			</div>
		</div>

	</div>
