<% include ./partials/header%>
<div class= ui huge header>Job App</div>
<table class="ui padded compact table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Job</th>
      <th>Date Applied</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% jobs.forEach(function(job) {%>
    <tr>
      <td><%=job.company%></td>
      <td><%=job.job%></td>
      <td><%=job.dateApplied%></td>
      <td><%=job.description%></td>
    </tr> 
    <% })%>
  </tbody>
</table>
<% include ./partials/footer%>


