i.icon {
	font-size: 2em; 
}

.container.main {
	margin: 20px auto;
	max-width: 600px; 
	
}
body {
  text-align: center;
 }
#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

#delete {
	display:inline;
}

.ui.table {
  width: 800px;
  margin: 0 auto;
}

